.offer {
  position: relative;
  padding: pxToRem(36) pxToRem(24);

  @include breakpoint-up("for-tablet-portrait-up") {
    height: 340px;
  }

  border-radius: $border-radius;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  text-align: center;

  &__header {
    .offer__title {
      font-size: pxToRem(24);
    }

    .offer__explanation {
      font-size: pxToRem(14);
      line-height: 1.4em;
      color: #82868f;
      margin-top: pxToRem(8);
    }
  }

  &__body {
    margin-top: pxToRem(24);

    @include breakpoint-up("for-tablet-portrait-up") {
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
    }

    .offer__price {
      font-weight: 600;
      letter-spacing: -1px;

      .price--big {
        font-size: pxToRem(64);
        letter-spacing: -4px;
        margin-right: pxToRem(4);
      }

      .price--small {
        font-size: pxToRem(24);
      }
    }

    .offer__button {
      margin-top: pxToRem(24);
    }
  }
}
