.container {
  max-width: $max-width;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.highlight {
  color: $primary-color;
}

.section-title {
  font-family: Poppins, sans-serif;
  font-size: pxToRem(24);
  font-weight: 600;
  text-align: center;
  margin-bottom: pxToRem(48);

  @include breakpoint-up("for-tablet-landscape-up") {
    & {
      font-size: pxToRem(32);
    }
  }
}

.section-header {
  font-family: Poppins, sans-serif;
  margin-bottom: pxToRem(48);

  .section__title {
    font-size: pxToRem(24);
    font-weight: 600;
    margin-bottom: pxToRem(8);
    line-height: 1.4em;

    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        font-size: pxToRem(32);
      }
    }
  }
}
