.container {
  max-width: $max-width;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.highlight {
  color: $primary-color;
}

.section__header {
  font-family: Poppins, sans-serif;
  margin-bottom: pxToRem(48);

  .section__title {
    font-size: pxToRem(24);
    font-weight: 600;
    margin-bottom: pxToRem(8);
    line-height: 1.4em;

    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        font-size: pxToRem(32);
      }
    }

    &--pill {
      display: inline-block;
      background-color: $primary-color;
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-size: pxToRem(16);
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #fff;
      padding: pxToRem(8) pxToRem(36);
      border-radius: $border-radius;
      text-align: center;

      &-neutral {
        @extend .section__title--pill;
        background-color: $neutral;
        color: $primary-color;
      }
    }
  }
}
