%section {
  padding: pxToRem(64) pxToRem(24);
}

%grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: pxToRem(16);

  @include breakpoint-up("for-tablet-landscape-up") {
    & {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: pxToRem(16);
    }
  }
}

%grid-tablet-2 {
  @include breakpoint-up("for-tablet-portrait-up") {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: pxToRem(16);
    }
  }
}

%grid-desktop-3 {
  @include breakpoint-up("for-tablet-landscape-up") {
    & {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: pxToRem(16);
    }
  }
}

// * SHOWCASE
.showcase {
  @extend %section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: $neutral;
  border-radius: $border-radius;
  overflow: hidden;

  @include breakpoint-up("for-tablet-landscape-up") {
    & {
      padding: pxToRem(128) pxToRem(128);
    }
  }

  &__title {
    font-size: pxToRem(30);
    line-height: 1.3em;
    letter-spacing: -1px;

    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        font-size: pxToRem(40);
      }
    }
  }

  &__expression {
    margin-top: pxToRem(24);
  }

  &__cta {
    margin-top: pxToRem(24);

    @include breakpoint-up("for-tablet-portrait-up") {
      & {
        margin-top: pxToRem(48);
      }
    }

    .showcase__btn-container {
      margin-top: pxToRem(16);
      display: flex;

      @include breakpoint-up("for-tablet-portrait-up") {
        & {
          display: block;
        }
      }
    }
  }

  &__form {
    .showcase__message {
      color: grey;
      width: 100%;
      height: pxToRem(50);
      padding: pxToRem(12);
      border: 1px solid $input-border;
      border-radius: pxToRem(12);
      transition: all 0.25s ease-out;

      @include breakpoint-up("for-tablet-portrait-up") {
        & {
          width: 70%;
        }
      }

      @include breakpoint-up("for-tablet-landscape-up") {
        & {
          width: 50%;
        }
      }

      &:focus {
        // border: none;
        color: #000;
        outline: none;
        box-shadow: 0 0 0 1px $primary-color;
        height: pxToRem(200);
      }
    }
  }
}

// * BIOGRAPHY
.biography {
  padding: pxToRem(36);

  @include breakpoint-up("for-tablet-landscape-up") {
    & {
      margin-top: pxToRem(44);
    }
  }

  .container {
    display: flex;
    align-items: center;

    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        max-width: pxToRem(740);
      }
    }
  }

  &__item {
    text-align: center;

    // Fix inconsistent displaying
    &:nth-of-type(2) {
      transform: translateY(8px);

      @include breakpoint-up("for-tablet-landscape-up") {
        & {
          transform: translateY(0);
        }
      }
    }

    &:not(:last-of-type) {
      margin-right: pxToRem(16);
    }
    &-text {
      display: block;
      font-size: pxToRem(13);
      line-height: 1.2em;
      margin-top: pxToRem(8);

      @include breakpoint-up("for-tablet-landscape-up") {
        & {
          line-height: 1.5em;
        }
      }
    }
    &-image {
      width: pxToRem(90);

      @include breakpoint-up("for-tablet-landscape-up") {
        & {
          width: pxToRem(120);
        }
      }
    }
  }
}

// * LECTURES
.lectures {
  @extend %section;

  .container {
    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        max-width: pxToRem(740);
      }
    }
  }

  .section__header {
    .section__title {
      text-align: center;
    }
  }

  .tab-container__wrapper {
    max-width: 100%;
    height: auto;
    background-color: $neutral;
    padding: pxToRem(12) pxToRem(24);
    border-radius: $border-radius;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .tab__button-container {
    display: flex;
    // white-space: nowrap;
    flex-wrap: nowrap;
    background-color: $neutral;
    border-radius: $border-radius;
    overflow-y: auto;

    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        max-width: pxToRem(580);
        margin: 0 auto;
      }
    }

    .tab__button {
      flex: 0 0 auto;
      color: $primary-color;
      background-color: transparent;
      padding: pxToRem(12) pxToRem(16);
      border: none;
      outline: none;

      &--active {
        background-color: $primary-color;
        color: #fff;
        padding: pxToRem(8) pxToRem(24);
        border-radius: $border-radius;
      }
    }
  }

  .tab__content {
    margin-top: pxToRem(40);

    &--lise {
      @extend %grid-2;
    }

    &--universite {
      @extend %grid-2;
    }

    &--sinava-hazirlik {
      @extend %grid-2;

      .card {
        padding: pxToRem(16);

        .card__title {
          margin-top: 0;
        }
      }
    }

    &--kocluk {
      @extend %grid-2;
      display: block;
      text-align: center;

      .button {
        margin-top: pxToRem(16);
      }
    }
  }
}

.why-us {
  @extend %section;

  .container {
    display: grid;

    .col:nth-of-type(2) {
      display: none;
    }

    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        align-items: center;
      }

      .col:nth-of-type(2) {
        display: block;
      }
    }
  }

  font-family: Poppins, sans-serif;

  &__list {
    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        width: 80%;
      }
    }
  }

  &__item {
    @extend .card;
    text-align: left;
    padding: pxToRem(24);
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-top: pxToRem(40);
    }

    margin-top: pxToRem(16);

    .item__image {
      width: pxToRem(64);
      margin-right: pxToRem(16);
    }

    .item__body {
      .item__title {
        font-size: pxToRem(16);
        font-weight: 500;
      }

      .item__explanation {
        font-size: pxToRem(14);
        margin-top: pxToRem(8);
        line-height: 1.3em;
      }
    }
  }
}

.reviews {
  @extend %section;
  background-color: $neutral;
  padding-right: 0;
  text-align: center;

  &__wrapper {
    margin-top: pxToRem(64);
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: pxToRem(24);

    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow-x: hidden;
      }
    }

    .review {
      flex: 0 0 90%;
      margin-right: pxToRem(16);
    }
  }
}

.achievements {
  @extend %section;

  .section__header {
    max-width: pxToRem(740);
    margin: 0 auto;
    text-align: center;

    .section__title--pill-neutral {
      margin-bottom: pxToRem(24);
    }
  }

  .achievement__items {
    @extend %grid-tablet-2;
    @extend %grid-desktop-3;
    margin-top: pxToRem(36);

    @include breakpoint-up("for-tablet-landscape-up") {
      & {
        margin-top: pxToRem(60);
      }
    }

    .achievement {
      @include breakpoint-down("for-phone-only") {
        & {
          margin-top: pxToRem(16);
        }
      }
    }
  }
}
