// Colors
$primary-color: #0164fe;
$secondary-color: #c3e3ff;
$neutral: #ecf6ff;
$input-border: #c5e3ff;
$star: #ffb007;

// Size
$max-width: 1280px;
$spacing: pxToRem(8);
$border-radius: pxToRem(24);
